canvas#canvas {
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    position: absolute;
    image-rendering: pixelated;
    width: 75vmin;
    height: 75vmin;
}

body {
    margin: 0;
    overflow: hidden;
}

html {
    background: rgb(0,0,0)
}